<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-bfm-display-information-styles.html">
<dom-module id="cells-bfm-display-information">
  <script src="cells-bfm-display-information.js"></script>
</dom-module>